/* Estilos generales */
.tamañocontainer
{
  height: 80vh;
  display: flex;
}
.acerca-de-nosotros-container {
  
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    max-width: 800px;
    margin: 0 auto;
  position: relative;
  margin-top: 30px;
  margin-bottom: 30px;
  }
  
  .titulo-acerca-de {
    
    text-align: center;
    font-size: 2rem;
    color: #2c3e50;
    margin-bottom: 30px;
  }
  
  .informacion-general {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .informacion h3 {
    font-size: 1.2rem;
    color: #34495e;
  }
  
  .informacion p {
    font-size: 1rem;
    color: #7f8c8d;
    margin: 0;
  }
  
  .imagen-mascota {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-top: 10px;
  }
  