<app-nav></app-nav>

 <div class="tamañocontainer">
<div class="acerca-de-nosotros-container">

    <h2 class="titulo-acerca-de">Acerca de Nosotros</h2>
  

    <div class="informacion-general">
      

      <div class="informacion">
        <h3>Dueños:</h3>
        <p>Fausto Benzo</p>
        <p>Andres Canevello</p>
        <p>Gonzalo De Andrade</p>
      </div>
  
 
      <div class="informacion">
        <h3>Dirección:</h3>
        <p>Miramar</p>
        <p>Avenida 40 n1201</p>
        <p>7607 CP</p>
        <p>Buenos Aires</p>
        <p>Argentina</p>
      </div>
  

      <div class="informacion">
        <h3>Contacto:</h3>
        <p>Correo: sinCollar&#64;hotmail.com</p>
        <p>Teléfono: +2291 46 66 93</p>
      </div>
  

      <div class="informacionImg">
        <h3>Conoce a nuestra mascota</h3>
        <img  [src]="dataApi" alt="Mascota" class="imagen-mascota" />
      </div>
  
    </div>
  </div>
  </div>
  

<app-footer></app-footer>