<app-nav></app-nav>
<div class="bodyregistro">
  <fieldset class="formulario-registro">
    <legend>Regístrate</legend>
    <form [formGroup]="usuarioForm" (ngSubmit)="agregarUsuario()">
      <div class="rol-select">
        <label>
          <input type="radio" formControlName="rol" value="adoptivo" />
          <span>Soy un Usuario que Carga Adopciones</span>
        </label>
        <label>
          <input type="radio" formControlName="rol" value="adoptante" />
          <span>Soy un Usuario que Adopta</span>
        </label>
      </div>

      <div *ngIf="usuarioForm.get('rol')?.invalid && usuarioForm.get('rol')?.touched" class="error">
        Por favor, selecciona un rol antes de continuar.
      </div>

      <div class="campo">
        <label for="nombre">Nombre:</label>
        <input id="nombre" formControlName="nombre" placeholder="Tu nombre" />
      </div>

      <div class="campo">
        <label for="apellido">Apellido:</label>
        <input id="apellido" formControlName="apellido" placeholder="Tu apellido" />
      </div>

      <div class="campo">
        <label for="email">Email:</label>
        <input id="email" type="email" formControlName="email" placeholder="Tu email" />
      </div>
      <span (input)="mensajeError">{{mensajeError}}</span>

      <div class="campo">
        <label for="contraseña">Contraseña:</label>
        <div class="password-field">
          <input
            id="contraseña"
            [type]="mostrarContrasena ? 'text' : 'password'"
            formControlName="contraseña"
            placeholder="Crea una contraseña"
          />
          <button type="button" class="toggle-password" (click)="togglePasswordVisibility()">
            {{ mostrarContrasena ? 'Ocultar' : 'Mostrar' }}
          </button>
        </div>
      </div>

      <input type="submit" value="Continuar" [disabled]="usuarioForm.invalid" />
    </form>
    <div class="logo">
      <img src="/assets/logosincollar.png" alt="Logo Animado" />
    </div>
  </fieldset>
</div>
<app-footer></app-footer>
