<app-nav/>

<body>
<section class="form-padre">
  
<section class="form-container">
  <h1 class="title-form">Dejalo en nuestras manos</h1>
  <h1 class="title-form">Ingresa los datos de tu compañero peludo</h1>
  <form [formGroup]="formulario" (ngSubmit)="addMascota()">

    <div class="form-field">
      <label for="nombre">Nombre Mascota</label>
      <input 
        type="text"
        formControlName="nombre"
        id="nombre"
        placeholder="Ingrese el nombre de la mascota"
      />
      <div *ngIf="formulario.controls['nombre'].hasError('required') && formulario.controls['nombre'].touched" class="error-message">
        El nombre de la mascota es requerido
      </div>
    </div>

    <div class="form-field">
      <label for="raza">Raza</label>
      <input 
        type="text"
        formControlName="raza"
        id="raza"
        placeholder="Ingrese la raza de la mascota"
        list="razasList" 
      />
      <datalist id="razasList">
        <option *ngFor="let raza of razas" [value]="raza"></option>
      </datalist>
      <div *ngIf="formulario.controls['raza'].hasError('required') && formulario.controls['raza'].touched" class="error-message">
        La raza es requerida
      </div>
    </div>

    <div class="form-field">
      <label for="edad">Edad</label>
      <select formControlName="edad" id="edad">
        <option *ngFor="let edad of edades" [value]="edad">{{edad}}</option>
      </select>
      <div *ngIf="formulario.controls['edad'].hasError('required') && formulario.controls['edad'].touched" class="error-message">
        La edad es requerida
      </div>
    </div>


    <div class="form-field">
      <label for="sexo">Sexo</label>
      <select 
        formControlName="sexo"
        id="sexo"
        required
      >
        <option value="">Seleccione el sexo</option>
        <option value="Macho">Macho</option>
        <option value="Hembra">Hembra</option>
      </select>
      <div *ngIf="formulario.controls['sexo'].hasError('required') && formulario.controls['sexo'].touched" class="error-message">
        El sexo es requerido
      </div>
    </div>

    <div class="form-field">
      <label for="tamaño">Tamaño</label>
      <select formControlName="tamanio" id="tamaño">
        <option value="pequeño">Pequeño</option>
        <option value="mediano">Mediano</option>
        <option value="grande">Grande</option>
      </select>
      <div *ngIf="formulario.controls['tamanio'].hasError('required') && formulario.controls['tamanio'].touched" class="error-message">
        El tamaño es requerido
      </div>
    </div>

    <div class="form-field">
      <label for="color">Color</label>
      <select formControlName="color" id="color">
        <option value="blanco">Blanco</option>
        <option value="negro">Negro</option>
        <option value="marrón">Marrón</option>
        <option value="gris">Gris</option>
        <option value="amarillo">Amarillo</option>
        <option value="naranja">Naranja</option>
        <option value="rojo">Rojo</option>
        <option value="azul">Azul</option>
      </select>
      <div *ngIf="formulario.controls['color'].hasError('required') && formulario.controls['color'].touched" class="error-message">
        El color es requerido
      </div>
    </div>

    <div class="form-field">
      <label for="imagen">Imagen</label>
      

      <button type="button" (click)="obtenerImagenApi()">Generar Imagen</button>

      <div *ngIf="imgGenerada">
        <img [src]="imgGenerada.message" alt="Imagen generada" width="200" height="200"/>
      </div>

    </div>

    <button type="submit" [disabled]="formulario.invalid" class="submit-btn">Agregar</button>
  </form>
</section>
</section>
</body>
<app-footer/>