.grid-main{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto 110rem 70rem 15rem;
    grid-template-areas:  "nav nav nav"
                          "header header header "
                         "main main aside"
                         "footer footer footer";
    gap:1rem;
    gap: 0; 
   
}
.nav{
    grid-area: nav;
}
.header{
    grid-area:header;
}

.main{
    grid-area:main;
}
.aside{
    grid-area:aside;
}
.footer{
    grid-area: footer;
}

