.grid-main{
    display: grid;
    grid-template-columns: repeat(3, 1.5fr);
    grid-template-rows: auto 1fr auto auto;
    grid-template-areas:  "navbar navbar navbar"
                          "header header header "
                         "main main aside"
                         "footer footer footer";
   
    gap: 0; 
    min-height: 100vh;
    min-width: 100vh;
   
}
.navbar{
    grid-area: navbar;
}
.header{
    grid-area:header;
}

.main {
    grid-area: main;
   background-color: #ffefe8;
    padding: 20px;
    box-sizing: border-box;
   
  }
  
  .aside {
    min-height: 70vh;
    grid-area: aside;
    background-color: #ffffff;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  }
  
.footer{
    grid-area: footer;
}

