<div class="menu-container">
  <h1>Menu del Admin</h1>
    <ul class="menu">
      <!--<li><a href="#"> El sistema debe permitir al Administrador visualizar las mascotas.</a></li>
      <li><a href="#"> El sistema debe permitir al Administrador filtrar las mascotas.</a></li> estas 2 estan en el inicio
      <li><a href="#">El sistema debe permitir al Administrador visualizar las solicitudes de Adopción.</a></li>
      <li><a href="#">El sistema debe permitir al Administrador visualizar las Solicitudes de Mascota.</a></li>-->
      <li><a href="http://localhost:4200/admin/sa">Ver solicitudes de Adopcion</a></li>
      <li><a href="http://localhost:4200/admin/sm">Ver solicitudes de Mascota</a></li>
      <!--     
        <li><a href="#"> El sistema debe permitir al Administrador realizar ABM de Mascotas.</a></li>
       <h2>ABM mascotas</h2> Esto tiene que estar en el link de ver solicitudes mascota
      <li><a href="#">Aceptar Mascotas</a></li>
      <li><a href="#">Borrar Mascota</a></li>
      <li><a href="#">Eliminar Mascota</a></li> 
       <li><a href="#">Editar Mascota</a></li> 
      -->

      <!-- <li><a href="#"> El sistema debe permitir al Administrador realizar ABM de solicitudes de Adopción.</a></li>
        Lo mismo con este, el ABM es en la pagina de solicitudes
      -->
      <!-- <li><a href="#">El sistema debe permitir al Administrador realizar ABM de usuarios.</a></li> -->

<!--       estas funciones tienen que estar dentro de la opcion de visualizar usuarios
        <h2>Funciones Usuarios</h2>
        <li><a href="#">Editar Usuario</a></li>
        <li><a href="#">Borrar Usuario</a></li> -->
        <li><a href="#">Ver Usuarios</a></li>
      <!-- <li><a href="#"> El sistema debe permitir al Administrador visualizar a los usuarios.</a></li> -->

      <!--ESTO ESTA LISTO <li><a href="#">El sistema debe permitir al Administrador aceptar las solicitudes de adopción.</a></li>
      <li><a href="#"> El sistema debe permitir al Administrador rechazar las solicitudes de adopción.</a></li>
      <li><a href="#"> El sistema debe permitir al Administrador aceptar las solicitudes de Mascota.</a></li>
      <li><a href="#"> El sistema debe permitir al Administrador rechazar las solicitudes de Mascota.</a></li> -->

    </ul>
    <button class="btn">Volver al inicio</button>

  </div>
