<footer class="footer">
   
    <div class="footer-logo">
      <img src="assets/logosincollarnegro.png" alt="" class="logaso">
    </div>
    <div class="footer-contact">
      <p>52-1-33-12345678</p>
      <p>info.com</p>
    </div>
    <div class="footer-address">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum, quae laudantium minima dolorum dignissimos debitis cupiditate animi veniam id minus fuga ullam corporis dolorem consequatur vitae? Veniam minima temporibus nobis.</p>
    </div>
  </footer>