.principal{
  background-color: #fff3d3;
  padding: 10px 20px;
  border-top: 1px solid rgb(255, 255, 255);
  min-height: 100%;
 
}

.footer {
  min-height: 100%;
    background-color: #fff3d3;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: start;
    overflow: hidden;
    z-index: 5;
    flex-shrink: 0;
    border-top: 1px solid rgb(223, 221, 221);
}
.footer-logo,
.footer-contact,
.footer-address {
  padding: 10px;
}

.footer-logo img {
    width: 100%; /* Escala el logo a todo el ancho del contenedor */

 /* Limita el tamaño máximo del logo */
    height: auto; /* Mantiene la proporción */
 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-height: 100px; /* Ajusta el tamaño del logo si es necesario */
    position: relative;
    top: -30px; /* Ajusta este valor para mover el logo hacia arriba */
    display: block;
  /* Mantiene la proporción de la imagen */
  }
.footer-contact p,
.footer-address p {
  margin: 5px 0;
  font-size: 0.9rem;
  color: #333;
}
.enlaces ul{
  list-style: none;
  padding: 0;
  margin: 0;
}
.enlaces ul li a{
  text-decoration: none;
  color: brown;
  font-size: 1.6rem;
  padding: 1rem 0;
  display: inline-block;

}
.enlaces {
  text-align: center;
}
.enlaces a:hover {
  color: #007bff; /* Cambia el color del texto cuando el usuario pasa el mouse */
  transform: scale(1.1); /* Aumenta ligeramente el tamaño del enlace cuando pasa el mouse */
}



.footer-address
{
    font-size: auto;
    position: relative;
    display: block;
    max-height: 50px;
    max-width: 300px;
}
.redes{
  display: flex;
  justify-content: space-evenly;
  width: 50%;
}
.redes .fa-brands
{
    color: rgb(27, 94, 94);
}
.fa-brands{
  font-size:  3rem;
}
.fa-solid{
  font-size:  3rem;
}
.grid-footer{
  display: grid;
  grid-template-columns: repeat(3, 3fr);
  align-items: center;
  justify-items: center;
}