<nav class="navbar">

  <div class="logo">
    <img src="assets/logosincollar.png" routerLink ="/home" alt="SinCollar Logo" />
  </div>
  
 <div *ngIf="estaAutenticado">
  <ul class ="botones">
  <li><button *ngIf="rol === 'adoptante'" routerLink="/ruta-mascotas">Adoptar Mascota</button></li>
  <li><button *ngIf="rol === 'adoptivo'" routerLink="/carga-adopcion">Cargar Mascota</button></li>
  <li *ngIf="rol === 'adoptante'||rol === 'adoptivo'"class="nombreCompleto" routerLink="/profile">
    <span *ngIf="rol!=null||rol !=''" class="status-icon"  >🟢</span>
    <span >{{ usuarioService.getNombreCompleto() }}</span>
  </li>
</ul>
  </div>
 
  <div class="menu">
    <span (click)="toggleMenu()">Menu [ + ]</span>
    <ul *ngIf="menuOpen" class="dropdown">
      <li *ngIf="rol === null"><a routerLink="/register">Registrarse</a></li>
      <li *ngIf="rol === 'adoptante'||rol === 'adoptivo'"><a routerLink="/login">Sesion iniciada</a></li>
      <li><a routerLink="/profile">Mi Perfil</a></li>
      <li><a routerLink="/ruta-mascotas">Mascotas</a></li>  
      <li><button (click)="onCerrarSesion()" routerLink="/login">LogOut</button></li>
    </ul>
  </div>
</nav>
