/* You can add global styles to this file, and also import other style files */
html{
    box-sizing: border-box; /*genera border de tipo BOX*/
    font-size: 62.5%; /* con esta configuracion manejamos que 10 pixeles sean 1REM*/
}
*,
*:after,/*manejamos la herencia de la configuracion de arriba */
*:before{
    box-sizing: inherit;
}
body{/*margin 0 al margen de la configuracion*/
    margin: 0;
}
