<main>
    <div id ="main" class="main-content">
        <h2>Acerca de Nosotros</h2>
        <p>
          SinCollar es una plataforma comprometida con la adopción responsable de perros y el bienestar animal. Nuestro objetivo es brindar un hogar amoroso a cada mascota necesitada. A través de donaciones generosas, aseguramos que todos los perros reciban el cuidado adecuado y las condiciones de vida que merecen. Únete a nosotros para ser parte de esta increíble misión de salvar vidas.
        </p>
        <button class="info-button">Más Información</button>
      </div>
</main>