<app-nav/>
<body>
<div class="profile-container">
     <div class="profile-card">
        <h2>Mi Perfil</h2>
        <div class="profile-info">
            <p><strong>Nombre:</strong> {{ userData.nombre }}</p>
            <p><strong>Apellido:</strong> {{ userData.apellido }}</p>
            <p><strong>Email:</strong> {{ userData.email }}</p> 
       </div>
        
    </div> 
    <div class="mascotas-container">
        <h2 class="titulo-adopcion" *ngIf="userService.getRol()=== 'adoptante'" >Mis Solicitudes de Adopcion</h2>
        <h2 class="titulo-adopcion" *ngIf="userService.getRol()=== 'adoptivo'" >Mis Solicitudes de Alta de Mascota</h2>
        <div *ngIf="mascotas.length > 0 ; else noMascotas">
            <ul class="mascota-list">
                <li *ngFor="let mascota of mascotas" class="mascota-item">
                    <img [src]="mascota.imagen" alt="{{ mascota.nombre }}" class="mascota-imagen">
                    <p><strong>Nombre:</strong> {{ mascota.nombre }}</p>
                    <p><strong>Edad:</strong> {{ mascota.edad }}</p>
                    <p><strong>Raza:</strong> {{ mascota.raza }}</p>
                    <div *ngIf="mascota.resultado == true">
                    <p class="aceptada"><strong>Estado Solicitud:</strong>Aceptada</p>
                    </div>
                    <div *ngIf="mascota.resultado == false">
                        <p class="solicitada"><strong>Estado Solicitud:</strong>Solicitada</p>
                        </div>
                </li>
            </ul>
        </div>
        
        <ng-template #noMascotas>
            <p>No tienes mascotas registradas.</p>
        </ng-template>
       
    </div>
</div>
</body>
<app-footer/>