<div class="profile-container">
    <div class="profile-card">
        <h2>Mi Perfil</h2>
        <div class="profile-info">
            <p><strong>Nombre:</strong> {{ userData.nombre }}</p>
            <p><strong>Apellido:</strong> {{ userData.Apellido }}</p>
            <p><strong>Email:</strong> {{ userData.email }}</p>
            <!-- Agrega otros campos aquí -->
        </div>
        <button class="edit-button">Editar Perfil</button>
    </div>
    <div class="mascotas-container">
        <h3>Mis Mascotas</h3>
        <div *ngIf="mascotas.length > 0; else noMascotas">
            <ul class="mascota-list">
                <li *ngFor="let mascota of mascotas" class="mascota-item">
                    <img [src]="mascota.imagen" alt="{{ mascota.nombre }}" class="mascota-imagen">
                    <p><strong>Nombre:</strong> {{ mascota.nombre }}</p>
                    <p><strong>Edad:</strong> {{ mascota.edad }}</p>
                    <p><strong>Raza:</strong> {{ mascota.raza }}</p>
                </li>
            </ul>
        </div>
        <ng-template #noMascotas>
            <p>No tienes mascotas registradas.</p>
        </ng-template>
    </div>
</div>
